html{
    font-size: 18px;
    background: gainsboro;
}


body{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}
header{
    width: 23rem;
}

.slides {
    margin: 1rem auto;
    object-fit: cover;
    width: 95%;
    height: 95vh;

}

.subtitle{
    display: flex;
    justify-content: space-evenly;
}

.black-container{
    background-color: black;
}

.top-grid{
    height: 4rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4fr 1fr;
}

header{
    grid-area: 1/1/3/2;
    align-self: flex-end;
}

h1{ 
    font-size:2.25rem;   
    font-weight: 100;
    padding: 0;
    margin:  0;
}

h1 span{
    color:dimgray
}

#search-bar{
    width: 7.5rem;
    height: 1.5rem;
    grid-area: 1 / 2 / 2 / 3;    
}

.search-div{
    place-self: center end;
    margin-right: 3vw;
}
.search-div button{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

nav{
    grid-area: 2 / 2 / 3 / 3;
    place-self: end stretch;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 0.5rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;    
}
nav a{
    color: whitesmoke;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    
}

nav a:hover{
    animation-name: header-animation;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes header-animation {
    100% {
      color: dimgray;
      position: relative;
      top: -0.15rem;
      padding-bottom: 0.15rem;
    }
}

/*-----------------------------------------------------------------------------------------------*/

.sub-img-container{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}
.sub-img-container p{
    flex-basis: 60%;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 2em;
    line-height: 1.5rem;
}

.sub-img-container a{
    padding: 0;
    margin: 0;
}

.sub-img-container div{
    flex-basis: 35%;
    display: flex;
    justify-content: space-evenly;
}

.rounded-button{
    color: whitesmoke;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: dimgray;
    padding: 1.25rem 0.625rem 0;
    font-size: 1.4rem;
}

.rounded-button:hover{
    animation-name: rounded-anchor-hover;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
  }
  
  @keyframes rounded-anchor-hover {
    100% {
      color: darkgoldenrod;
      background-color:whitesmoke;
    }
}

/*-----------------------------------------------------------------------------------------------*/

.mid-container{
    display: flex;
    background-color: ghostwhite;
    gap: 2rem;
}

.pagination-page-wrapper{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#pagination-wrapper{
    flex-basis: 70%;
    flex-grow: 0;
    color: black;
    font-size: 0.8rem;
    padding: 0 6vw;
}

#page-buttons-container{
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

#page-buttons-container button:hover{
    cursor: pointer;
}

#current-page{
    background-color: rgba(169, 169, 169, 0.123);
    color: black;
    margin: 0 45% 1rem;;
    padding: 0;
    font-size: 0.7rem;
}

.sidebar{
    color: black;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: left;
    flex-basis: 25%;
    padding: 2rem;
    background: linear-gradient(rgba(192, 192, 192, 0.247), ghostwhite) ;
}

.sidebar ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.article-container{
    display: flex;
    margin: 4rem 0;
    gap: 5rem;
}

.article-container h5{
    font-size: 1rem;
    margin: 0;
    padding: 0; 
}

.article-container p, h5{
    text-align: justify;
}

.article-container img{
    flex-basis:20%;
    height: 8rem;
    width: auto;
}
.article-date {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
    font-weight: 700;
}

.article-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.read-more{
    
    background-color: rgba(31, 131, 177, 0.792);
    color: rgb(224, 231, 235);
    border: none;
    border-radius: 0.2  rem;
    font-weight: 600;
    height: 1.5rem;
    width: 8rem;
}

.read-more:hover{
    cursor:pointer;
    background-color: rgb(31, 130, 177);
    color: white;
}


/*-----------------------------------------------------------------------------------------------*/
.sponsors-container{
    background-color: ghostwhite;
    color: black;
    padding: 3rem;
    text-align: justify;
}

.sponsors-container h3{
    margin: 0;
    padding-bottom: 2rem;
}
.sponsors-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr );
    grid-template-rows: repeat(3, 1fr);
    justify-content:space-around;
    align-content: center;
    align-items: stretch;
    justify-items: stretch;
    gap: 1.5rem;
}

/*-----------------------------------------------------------------------------------------------*/
.bottom-container{
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    background-color: black;
    line-height: 1.3rem;
}
.bottom-container > div{
    flex-basis: 30%;
    padding: 0 2rem 2rem;
    text-align: justify;
}

.bottom-container h5{
    font-weight: lighter;
    font-size: 1.2rem;
}

.bottom-container .rounded-button{
    text-align: center;
    font-size: 0.8rem ;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.75rem 0.325rem 0;
    margin-top: 1.4rem;
}

.bold{
    font-weight: 600;
}

.flickr-pics-grid{
    height: 14rem;
    width: 14rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items:center;
    gap: 0.8rem
}


/*-----------------------------*/

@media (max-width: 400px) {
    html{
        font-size: 7px;
    }

    .slides{
        max-height: 50vh;
    }

    .sidebar{
        flex-basis: 35%;
    }
    .sponsors-grid{
        grid-template-columns: repeat(3, 1fr );
        grid-template-rows: repeat(5, 1fr);
    }
    .sponsors-grid img{
        width: 12rem;
    }

    .flickr-pics-grid img{
        width: 5rem;
    }
    button.read-more{
        font-size: 1rem;
    }

    #page-buttons-container button{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        padding: 0;
    }

    .search-div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .search-div button{
        font-size: 0.5rem;
        height: 2rem;
        width: 2rem;
        padding: 0;
    }

    #search-bar{
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    html{
        font-size: 12px;
    }
    .slides{
        max-height: 50vh;
    }
    button.read-more{
        font-size: 0.95rem;
    }
    .search-div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .search-div button{
        font-size: 0.5rem;
        height: 2rem;
        width: 2rem;
        padding: 0;
    }

    #search-bar{
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
    }
    .flickr-pics-grid img{
        width: 4.8rem;
    }

    .sponsors-grid img{
        width: 10rem;
    }
}